* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
/* Classes header-nav */
.header {
    min-height: 743px;
    height: auto;
    width: 100%;
    background-image: url("../img/header.png");
    background-size: cover;
    object-fit: cover;
    object-position: bottom;
    max-width: 100%;
    position: relative;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: rgb(0, 0, 0);
    font-size: 45px;
    letter-spacing: 1px;
    cursor: pointer;
    text-shadow: 1px 1px 2px white;
}

.span-lo {
    color: #C700A9;
}

.span-go {
    color: #C700A9;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px white;
    font-size: 26px;
}

nav ul li a:hover {
    color: #C700A9;
    transition: .4s;
}

.content {
    font-family: 'Tektur', sans-serif;
    position: absolute;
    top: 50%;
    left: 34%;
    transform: translate(-50%, -50%);
}

h1 {
    margin: 20px 0px 20px;
    font-size: 75px;
    color: #C700A9;
    text-shadow: 1px 1px 2px white;
}

h4 {
    font-size: 40px;
    text-align: center;
}

/* classes seccion about me */
.about {
    width: 100%;
    padding: 5% 5%;
    background-color: #FDFCE9;
    height: 450px;
}

.about img {
    position: relative;
    height: auto;
    max-width: 100%;
}

.about-text {
    width: 550px;
    font-family: 'Montserrat', sans-serif;
}
.main {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.about-text p {
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom:45px;
    text-align: justify;
}   

/* Classes seccion Education */
.education {
    background-color: #FFEE12;
    height: 60vh;
}

.edu-text {
    color: #C700A9;
    font-family: 'Tektur', sans-serif;
    text-align: center;
    font-size: 40px; 
}

.education-flex {
    display: flex;
    justify-content: space-around;
    color: #000000;
    gap: 16px;
    padding: 0;
    max-width: 100%;
    position: relative;
    top: 0;
}

.education-flex h2 {
    text-align: center;
    margin-right: 4px;
    font-family: 'Tektur', sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black;
}
.education-flex h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* Classes seccion experience */
.experience-cont {
    display: flex;
    width: 100%;
    padding: 5% 5%;
    background-color: #FDFCE9;
    padding: 5% 5%;
}   

.exp-img {
    position: relative;
    height: auto;
    max-width: 100%; 
    left: 100px;
}

.text-expe {
    margin: 10px 100px 10px;
    display: inline-flex;
    flex-direction: column;
}

.cuadro {
    display: inline-block;
    padding: 10px;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom:20px;
    text-align: justify;
    position: relative;
    left: 50px;
}

.cuadro h3 {
    font-family: 'Tektur', sans-serif;   
    align-items: center;
    color: #C700A9;
}

.cuadro p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
}

/* Classes seccion portafolio */

.contenedor-port {
    width: 100%;
    background-color: #FFEE12;
}
.port-text {
    color: #C700A9;
    font-family: 'Tektur', sans-serif;
    text-align: center;
    font-size: 40px; 
}

.portafolio {
    width: 100%;
    display: flex;
    max-width: 1443px;
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: scroll;
    background: #fff;
    box-shadow: 0px 1px 10px rgb(0, 0, 0,0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.card img{
    width: 100%;
    height: 210px;
}

.card h3{
    text-align: center;
    margin-right: 4px;
    font-family: 'Tektur', sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black;
    background-color: #fbfbfa;
}

/* Seccion footer */
.footer {
    position: relative;
    width: 100%;
    background-color: #C700A9;
    padding: 20px;
}

